<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome <%= name %></title>
  <link rel="stylesheet" href="login.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <!---------------- Including the left menu through partials --------------------->
  <%- include('partials/left-menu') %>


  <div class="main">
    <div class="header">
      <div class="header-section">
        <h1>Codeforces Details</h1>
      </div>
      <div class="header-section">
        <%- include('partials/profile-thumbnail') %>
      </div>
    </div>
    

   <!--------------- Main section done ------------------------->
    
    <br><br><br>
    <% if(Object.keys(group).length === 0 && group.constructor === Object) { %>
      <div id="empty">
        <span>Codeforces Handle: </span>
        <form action="/rankings" method="POST">
          <input type="text" name="handle">
        </form>
        
      </div>
    <% } else { %>
        <div class="ranking-system">
          <table>
            <tr>
              <th>Handle</th>
              <th>Current Rating</th>
              <th>Max Rating</th>
              <th>Rank</th>
              <th>Max Rank</th>
            </tr>
            <tr>
              <td><%= group.handle %></td>
              <td><%= group.rating %></td>
              <td><%= group.maxRating %></td>
              <td><%= group.rank %></td>
              <td><%= group.maxRank %></td>
            </tr>
          </table>
        </div>
        <div class="submissions">
          <% for(var i = 0; i< group.submissions.length; i++) { %>
            <div class="submission-item">
              <br><br>
              <a href="https://codeforces.com/contest/<%= group.submissions[i].contestId %>/submission/<%= group.submissions[i].id %>">
                <%= group.submissions[i].problem.name %>
              </a>
            </div>
          <% } %>
        </div>
    <% } %>




  

    <!-- <form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
    </form> -->
  </div>

  <!-- Chat Section -->
  <%- include('partials/chat-section') %>




  <!------------------------ javascript ----------------->
</body>
</html>