<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome <%= name %></title>
  <link rel="stylesheet" href="login.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <!---------------- Including the left menu through partials --------------------->
  <%- include('partials/left-menu') %>


  <div class="main">
    <div class="header">
      <div class="header-section">
        <h1>Codeforces Details</h1>
      </div>
      <div class="header-section">
        <%- include('partials/profile-thumbnail') %>
      </div>
    </div>
    

   <!--------------- Main section done ------------------------->
    
    <br><br><br>
    <% if(Object.keys(group).length === 0 && group.constructor === Object) { %>
      <div id="empty">
        <span>Codeforces Handle: </span>
        <form action="/rankings" method="POST">
          <input type="text" name="handle">
        </form>
        
      </div>
    <% } else { %>
        <div class="ranking-system">
          <table>
            <tr>
              <th>Position</th>
              <th>Handle</th>
              <th>Rating</th>
              <th>Rank</th>
            </tr>
            <tr>
              <td>1.</td>
              <td><%= group.handle %></td>
              <td><%= group.rating %></td>
              <td><%= group.rank %></td>
            </tr>
          </table>
          <% if(friendList.length === 0) { %>
            <div class="add-friend" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              Why not add more friends to compare?
            </div>
          <% } %>
        </div>
        <div class="submissions">
              <table>
                <tr>
                  <th>&nbsp;</th>
                  <th>Problem</th>
                  <th>By</th>
                  <th>&nbsp;</th>
                </tr>
                <% for(var i = 0; i< group.submissions.length; i++) { %>
                  <tr>
                    <td><%= i+1 %>.</td>
                    <td>
                      <a href="https://codeforces.com/contest/<%= group.submissions[i].contestId %>/problem/<%= group.submissions[i].problem.index %>" target="_blank">
                        <%= group.submissions[i].problem.name %>
                      </a>
                    </td>
                    <td>(<%= group.handle %>)</td>
                    <td>
                      <a href="https://codeforces.com/contest/<%= group.submissions[i].contestId %>/submission/<%= group.submissions[i].id %>" target="_blank">
                        <span>Solution</span>
                      </a>
                    </td>
                  </tr>
                <% } %>
              </table>
        </div>
    <% } %>




  

    <!-- <form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
    </form> -->
  </div>

  <!-- Chat Section -->
  <%- include('partials/chat-section') %>




  <!------------------------ javascript ----------------->
</body>
</html>